.All-Users-Page{
    
}
.All-Users-Page{
    display: block;
    font-style: italic;
}
.All-Users-Page-Header{
    color: aliceblue;
    display: flex;
    flex-direction: column;
}
.All-Users-Data{
    margin-top: 20px;
}
.user-card {
    margin: 10px;
    display: flex;
    border: 2px solid wheat;
    padding: 12px;
}

.user-card__avatar {
    margin-right: 12px;
}
.user-card__avatar__image {
    max-width: 100px;
    max-height: 100px;
    
}
.user-card__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.user-card__username {
    color: aliceblue;
    font-weight: bold;
}

.user-card__role {
    font-size: 14px;
    color: gray;
}
.user-card__last{
    cursor: pointer;
    color: azure;
    display: flex;
    align-items: center;
}